body {
    background: rgb(185, 244, 248);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0, 5%;
    
  }

h1 {
    font-weight: 700;
}

nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 3% 15%;
    text-align: left;
    overflow: hidden;
    background-color: #333;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}

main img {
    width: 600px;
}

.button_container {
    padding-top: 5%;
    padding-bottom: 5%;
}

.button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background-color: #333;
    color: white;
}

.button:active {
    background-color: #333;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#footer {
    background-color: #EEE;
}

#footer > .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15% 3%;
    align-items: stretch;
    justify-content: space-between;
    
}

.copyright {
    font-size: 0.7rem;
}

.thumbnail_container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 5%;
}

.call_to_action {
    background-color: #333;
    color: white;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.call_to_action:hover {
    background-color: white;
    color: #333;
}

.call_to_action:active {
    box-shadow: 0 5px ;
    transform: translateY(4px);
}

/* planning page */

.planning_header, .feedback {
    padding: 2rem 0;
    font-weight: 500;
    font-size: 2rem;
}

.thumbnail_container_header{
    
    height: 50px;
    font-weight: 500;
    font-size: 2rem;
    color: #f2f2f2;
    background-color: #333;
    border-radius: 0.5rem;
    

}

.planning_header {
    padding: 1.5rem 0;
    font-weight: 500;
    font-size: 1.5rem;
}

.plackage_descr {
    font-size: 0.75em;
}



.thumbnail > img {
    width: 280px;
}



.promo_banner {
    background-color: lightgray;
    padding: 3rem;
}

#contact_form {
    padding: 3rem;
    text-align: center;
}

label {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  width: 200px;
  margin-bottom: 10px;
    align-items: center;
}

input {
  height: 20px;
  flex: 0 0 100px;
  margin-left: 10px;
}

.contact {
    padding: 3rem;
}

#table_openinghours {
    display: flex;
    justify-content: space-around;
}

.slide {
    width:600px; 
    height:500px; 
    padding: 2rem 5% 5rem; 
    overflow:hidden;
    align-content: center;
}

.slide div {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    position: absolute;
    animation: slide 21s infinite;
    opacity: 0;
    width: 600px;
    height: 400px;
}

@keyframes slide {25%{opacity: 1;} 40%{opacity: 0;}}
.slide div:nth-child(3){animation-delay: 0s;}
.slide div:nth-child(2){animation-delay: 7s;}
.slide div:nth-child(1){animation-delay: 14s;}


    
@media screen and (max-width: 414px) {
   
    body {
        display: block;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    main img {
        width: 100%;
    }
    
    .row {
        display: block;
    }
    
    .slide {
    width:100%; 
    height:500px;
    overflow:hidden;
}

.slide div {
    position: absolute;
    animation: slide 21s infinite;
    opacity: 0;
    width: 100%;
    height: 400px;
}
}